* {
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


h1 {
    text-align: center;
    padding-top: 7%;
    color: gray;
    background-color: black;
    height: 20%;
    width: 100%;
}